.header{
  background: $color_background;

  .container{
    width: auto;
    max-width: 1060px;
    margin: auto;
  }

  .block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 10px;
  }

  .logo{
    display: flex;
    align-items: center;

    p{
      width: 35%;
      text-transform: uppercase;
      color: #5f5f5f;
      font-family: $font_main;
      font-weight: $fontWeightBold;
      font-size: $size_text;
      margin-left: 15px;
    }
  }

  .header__phone{

    display: flex;

    .block-phone{
      margin-right: 10px;

      a{
        font-family: $font_main;
        font-weight: $fontWeightBold;
        color: $color_text;
        font-size: $buttonSize;
        text-decoration: none;
      }

      p{
        font-family: 'Ubuntu', sans-serif;;
        color: $color_main;
        font-size: 12px;
      }
    }
  }

  .content{
    background: url("./images/header.jpg") no-repeat;
    height: 745px;

    .information{

      float: right;
      padding-top: 125px;
      text-align: center;

      p {
        font-family: $font_main;
        font-size: 65px;
        color: #2389ff;
      }
      a {
        font-family: $font_main;
        font-size: 125px;
        color: $color_main;
      }

      .form-email{

        text-align: center;
      }
    }
  }
}
