.features{
  display: flex;
  margin-bottom: 100px;
  border-bottom: 2px solid #f4f4f4;

  @media screen and (max-width: 1200px) {
    margin-left: 20px;
  }

  @media screen and (max-width: 650px) {
    display: block;
  }
}
.block-features{

  h3{
    font-family: $font_main;
    font-weight: $fontWeightRegular;
    font-size: 26px;
    margin-bottom: 40px;

    @media screen and (max-width: 1200px) {
      font-size: 23px;
    }
  }

  p{
    margin-bottom: 20px;
    max-width: 85%;

    @include block;

    &:last-child{
      margin-bottom: 80px;
    }

    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }
  }
}
.icon{
  margin-bottom: 40px;
}
.feature{
  margin-bottom: 100px;
  background: url("./images/iphone.png") no-repeat;
  height: 800px;

  @media screen and (max-width: 370px) {
    margin-bottom: 20px;
  }

  .block-feature{
    padding-top: 100px;
    float: right;

    @media screen and (max-width: 1000px) {
      float: none;
      text-align: center;
    }

    h3{
      @include headline;

      margin-bottom: 60px;

      @media screen and (max-width: 1150px) {
        font-size: 38px;
        margin-bottom: 40px;
      }

      @media screen and (max-width: 600px) {
        font-size: 32px
      }
    }

    p{
      @include block;

      margin-bottom: 20px;
      width: 430px;


      &:last-child{
        margin-bottom: 50px;
      }

      @media screen and (max-width: 1150px) {
        font-size: 17px;
      }

      @media screen and (max-width: 1000px) {
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        font-size: 14px
      }
    }
    .block-button{

      @media screen and (max-width: 1000px) {
        margin-top: 20px;
      }
    }
  }
}
.map-feature{
  background: url("./images/map.png") no-repeat right;
  height: 510px;
  padding-bottom: 100px;

  @media screen and (max-width: 1200px) {
    margin: 0px 20px;
  }
  @media screen and (max-width: 1100px) {
    background: none;
    height: 310px;
  }
  @media screen and (max-width: 350px) {
    height: 370px;
  }

  .block-map-feature{

    @media screen and (max-width: 1100px) {
      text-align: center;
    }

    h2{
      @include headline;

      margin-bottom: 60px;

      @media screen and (max-width: 570px) {
        font-size: 35px;
      }
      @media screen and (max-width: 490px) {
        font-size: 30px;
      }
    }

    p {
      @include block;

      margin-bottom: 20px;
      max-width: 41%;

      &:last-child {
        margin-bottom: 50px;
      }

      @media screen and (max-width: 1100px) {
      max-width: 100%;
      font-size: 20px;
    }
      @media screen and (max-width: 700px) {
        font-size: 18px;
      }
      @media screen and (max-width: 570px) {
        font-size: 15px;
      }
    }
    h3{
      font-family: $font_main;
      font-size: 12px;
      font-weight: $fontWeightBold;
      margin-bottom: 30px;
    }
    .partner{
      img{
        margin-right: 20px;
      }
    }
  }
}
.interface{
  background: #f5f5f8;
  height: 1600px;
  padding-top: 140px;

  @media screen and (max-width: 1680px) {
    height: 700px;
  }
  @media screen and (max-width: 1100px) {
    margin-bottom: 70px;
    height: 600px;
  }

  h2{
    @include headline;

    text-align: center;
    margin-bottom: 50px;

    @media screen and (max-width: 700px) {
      font-size: 38px;
    }
    @media screen and (max-width: 500px) {
      font-size: 32px;
    }
  }
  p{
    @include block;

    font-size: 12px;
    text-align: center;
    margin-bottom: 40px;
  }

  .screen{
    margin-bottom: 200px;

    @media screen and (max-width: 1680px) {
      display: none;
    }

    img{
      margin-right: 98px;
      box-shadow: 0 20px 50px rgba(0,0,0,0.25);

      @media screen and (max-width: 1915px) {
        margin-right: 96px;
      }
      @media screen and (max-width: 1900px) {
        margin-right: 90px;
      }
      @media screen and (max-width: 1880px) {
        margin-right: 83px;
      }
      @media screen and (max-width: 1855px) {
        margin-right: 77px;
      }
      @media screen and (max-width: 1830px) {
        margin-right: 74px;
      }
      @media screen and (max-width: 1819px) {
        margin-right: 70px;
      }
      @media screen and (max-width: 1800px) {
        margin-right: 64px;
      }
      @media screen and (max-width: 1776px) {
        margin-right: 60px;
      }
      @media screen and (max-width: 1760px) {
        margin-right: 54px;
      }
      @media screen and (max-width: 1740px) {
        margin-right: 49px;
      }
      @media screen and (max-width: 1718px) {
        margin-right: 44px;
      }
      @media screen and (max-width: 1700px) {
        margin-right: 40px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .program{
    text-align: center;

    p{
      @include block;

      font-size: 12px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
.perfect-plan{
  background: #f5f5f8;
  padding-top: 155px;
  padding-bottom: 150px;
  margin-bottom: 100px;

  @media screen and (max-width: 1000px) {
    padding-top: 30px;
    padding-bottom: 100px;
  }

  .block-plan-container{
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1250px) {
      justify-content: space-around;
    }
    @media screen and (max-width: 1000px) {
     display: block;
    }

    .block-perfect-plan{
      width: 30%;
      padding-top: 50px;

      @media screen and (max-width: 400px) {
        width: 70%;
      }

      @media screen and (max-width: 1000px) {
        margin: 0 auto;
        margin-bottom: 50px;
      }

      h2{
        @include headline;
        margin-bottom: 60px;

        @media screen and (max-width: 1050px) {
          font-size: 37px;
        }
        @media screen and (max-width: 650px) {
          font-size: 31px;
        }
        @media screen and (max-width: 430px) {
          font-size: 20px;
        }
      }

      h3{
        font-family: $font_main;
        font-weight: $fontWeightBold;
        font-size: 12px;
        color: $color_font;
        margin-bottom: 20px;
      }

      p{
        @include plan-block;
        font-size: $defaultSize;
        color: $color_text;
        margin-bottom: 30px;
      }

      span{
        color: $color_text;
        @include plan-block;
        font-size: 14px;

        a{
          color: #267df4;
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .checkbox-container{
        margin-bottom: 60px;
      }
    }
    .plan-block{
      display: flex;

      @media screen and (max-width: 1000px) {
        justify-content: center;
      }
      @media screen and (max-width: 650px) {
        display: block;
      }

      .block-plan{
        background: #ebebed;
        height: 480px;
        width: 330px;
        text-align: center;
        padding-top: 50px;
        border-radius: 20px;

        @media screen and (max-width: 1050px) {
          width: 300px;
        }
        @media screen and (max-width: 650px) {
          margin: 0 auto;
          margin-bottom: 20px;
        }

        &:hover{
          background: #fff;
          height: 500px;
          width: 350px;
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);

          @media screen and (max-width: 1050px) {
            width: 320px;
          }
          @media screen and (max-width: 650px) {
            width: 300px;
          }
        }

        h3{
          @include plan-block;
          margin-bottom: 20px;
        }

        a{
          border: 2px solid #dfe1e3;
          font-family: $font_main;
          font-weight: $fontWeightBold;
          font-size: 11px;
          padding: 5px 15px;
          border-radius: $radius;
        }

        h4{
          margin-top: 50px;
          @include plan-block;
          font-size: $defaultSize;
          color: $color_text;
          padding: 0px 55px;
          margin-bottom: 45px;
        }

        p{
          background: url("./images/check-mark.png") no-repeat 80px;
          font-size: $buttonSize;
          @include plan-block;
          margin-bottom: 25px;

          &:last-child{
            margin-bottom: 50px;
          }

          @media screen and (max-width: 1050px) {
            background: url("./images/check-mark.png") no-repeat 70px;
          }
        }
        .check-mark{
          background: url("./images/check-mark.png") no-repeat 40px;

          @media screen and (max-width: 1050px) {
            background: url("./images/check-mark.png") no-repeat 35px;
          }
        }
      }
    }

  }
}


