.button {
  color: $color_main;
  font-size: $buttonSize;
  font-family: $font_main;
  cursor: pointer;
  transition: $transitionHover;
  background-color: #267df4;
  border-radius: $radius;
  width: 200px;

  &.button-app {
    background: url("./images/appl.png") #267df4 no-repeat center left 10px;
    width: 120px;
    height: 40px;
    padding-left: 25px;
    margin-left: 20px;

    &:hover {
      background: url("./images/appl.png") no-repeat center left 10px #74abf7;
    }
  }

  &.button-video {
    background: url("./images/play.png") #fff no-repeat center left 30px;
    border: 2px solid #dfe1e3;
    height: 50px;
    color: $color_font;
    @media screen and (max-width: 520px) {
      width: 150px;
      background: url(./images/play.png) no-repeat center left 15px;
    }

    &:hover {
      background: url("./images/play.png") no-repeat center left 30px #dfe1e3;
    }
  }
}

