@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
       url("../fonts/Gilroy-ExtraBold.woff" ) format('woff');

  font-weight: normal;
  font-style: normal;
}