$font_main: Lato, sans-serif;
$secondary_font: 'Varela Round', sans-serif;

$color_main: #fff;
$color_background: #000;
$color_font: #26272d;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;


$defaultSize: 20px;
$defaultSizeMobile: 20px;

$buttonSize: 16px;


